$light-gray: rgb(242, 242, 242);
$dark-text: rgb(33, 37, 41);

%color {
  color: $dark-text;
}

.style-card-body {
  background-color: light-gray;
  @extend %color;

  .small-title {
    font-size: 1rem;
    @extend %color;
  }

  .small-text {
    font-size: 0.875rem;
    @extend %color;
  }
}

.button-style {
  display: flex;
  justify-content: space-between;
}
